 body {
    background-image: url(../assets/red2.jpg);
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    /* background-position: center; */
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    /* background-image: url(http://placekitten.com/400/200); */
    background-position: 0px 0px;
    background-repeat: repeat-x;
    animation: animatedBackground 100s linear infinite alternate;

} 

@keyframes animatedBackground {
    from {
      background-position: 0 0;
    }
    to {
      background-position: 100% 0;
    }
  }

.sociallinks{
font-size: 40px;
line-height: 1.2;
display: flex;
flex-direction: column;
margin-right: 10px;
}
.social {
    margin-left: 30px;
    text-align: left;
    float: left;
    clear: right;
    bottom: 10%;
    left: 0;
    position: absolute;
}
.grid-container {
    margin: 0;
    height: 100vh;
    width: 100vw;;
    display: grid;
    grid-template-columns: auto auto auto;
    /* background-color: #2196F3; */
    /* padding: 10px; */
  }
  .grid-item {
    font-size: 40px;
    /* text-align: center; */
  }

 .rubaroologo img {
     position: absolute;
     padding: 0;
     margin: 0;
     margin-left: 23px;
     margin-top: 10px;
     clear: right;
     float: left;
     top: 0;
     width: 120px;
     height: 120px;
     z-index: 101;
    }